<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CryptoCompare</title>
    <!-- Required Stylesheets -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Required scripts -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="/static/js/vue2-filters.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body class="container">
    <div id="app">
        <b-navbar toggleable="md" type="dark" variant="info">
            <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
            <b-navbar-brand href="#">My Portfolio</b-navbar-brand>
            <b-collapse is-nav id="nav_collapse">
                <b-navbar-nav>
                    <b-nav-item href="#">Link</b-nav-item>
                    <b-nav-item href="#" disabled>Disabled</b-nav-item>

                    <b-nav-item></b-nav-item>
                    <b-button size="sm" v-on:click="portfolio_export">Export</b-button>

                    <b-nav-item></b-nav-item>
                    <b-button size="sm" v-on:click="">Import</b-button>
                    <b-nav-item></b-nav-item>

                    <b-form-file v-on:change="importFile" v-model="portfolio_file" class="mt-3" plain></b-form-file>
                    <div class="mt-3">Selected file: {{portfolio_file && portfolio_file.name}}</div>

                </b-navbar-nav>
                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">
                    <b-nav-form>
                        <b-form-input size="sm" class="mr-sm-2" type="text" placeholder="Search" />
                        <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
                    </b-nav-form>
                    <b-nav-item-dropdown text="Lang" right>
                        <b-dropdown-item href="#">EN</b-dropdown-item>
                        <b-dropdown-item href="#">ES</b-dropdown-item>
                        <b-dropdown-item href="#">RU</b-dropdown-item>
                        <b-dropdown-item href="#">FA</b-dropdown-item>
                    </b-nav-item-dropdown>
                    <b-nav-item-dropdown right>
                        <!-- Using button-content slot -->
                        <template slot="button-content"> <em>User</em> </template>
                        <b-dropdown-item href="#">Profile</b-dropdown-item>
                        <b-dropdown-item href="#">Signout</b-dropdown-item>
                    </b-nav-item-dropdown>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>

        <b-container class="main-container">
            <b-pagination size="sm" :total-rows="totalrows" v-on:input="paginationChange" v-model="currentPage" :per-page="perpage"> </b-pagination>
            <b-tabs v-on:input="btabChange">
                <b-tab title="all coins" active>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td>Action</td>
                                <td hidden>Id</td>
                                <td>Rank</td>
                                <td>Name</td>
                                <td>Symbol</td>
                                <td>Price (USD)</td>
                                <td>1H</td>
                                <td>1D</td>
                                <td>1W</td>
                                <td>Market Cap (USD)</td>
                        </thead>
                        <tbody>
                            <tr v-cloak v-for="coin in coins_arr">
                                <td>
                                    <b-button size="sm" v-on:click="addCoin">Add</b-button>
                                </td>
                                <td hidden>{{ coin.id }}</td>
                                <td>{{ coin.rank }}</td>
                                <td><img v-bind:src="getCoinImage(coin.symbol)"> {{ coin.name }}</td>
                                <td>{{ coin.symbol }}</td>
                                <td>{{ coin.quotes.USD.price | currency }}</td>
                                <td v-bind:style="getColor(coin.quotes.USD.percent_change_1h)"> <span v-if="coin.quotes.USD.percent_change_1h > 0">+</span>{{ coin.quotes.USD.percent_change_1h }}% </td>
                                <td v-bind:style="getColor(coin.quotes.USD.percent_change_24h)"> <span v-if="coin.quotes.USD.percent_change_24h > 0">+</span>{{ coin.quotes.USD.percent_change_24h }}% </td>
                                <td v-bind:style="getColor(coin.quotes.USD.percent_change_7d)"> <span v-if="coin.quotes.USD.percent_change_7d > 0">+</span>{{ coin.quotes.USD.percent_change_7d }}% </td>
                                <td>{{ coin.quotes.USD.market_cap | currency }}</td>
                            </tr>
                        </tbody>
                    </table>
                </b-tab>
                <b-tab title="my coins" v-on:click="" :disabled="second_tab">
                    <table class="table table-hover">
                        <thead>
                            <td>Action</td>
                            <td>Rank</td>
                            <td>Name</td>
                            <td>Symbol</td>
                            <td>Price (USD)</td>
                            <td>1H</td>
                            <td>1D</td>
                            <td>1W</td>
                            <td>Market Cap (USD)</td>
                        </thead>
                        <tbody>
                            <tr v-cloak v-for="coin in portfolio">
                                <td>
                                    <b-button size="sm" v-on:click="delCoin">Del</b-button>
                                    <b-button size="sm" v-on:click="hideCoin">Hide</b-button>
                                </td>
                                <td>{{ coin.data.rank }}</td>
                                <td><img v-bind:src="getCoinImage(coin.symbol)"> {{ coin.data.name }}</td>
                                <td>{{ coin.symbol }}</td>
                                <td>{{ coin.data.quotes.USD.price | currency }}</td>
                                <td v-bind:style="getColor(coin.data.quotes.USD.percent_change_1h)"> <span v-if="coin.data.quotes.USD.percent_change_1h > 0">+</span>{{ coin.data.quotes.USD.percent_change_1h }}% </td>
                                <td v-bind:style="getColor(coin.data.quotes.USD.percent_change_24h)"> <span v-if="coin.data.quotes.USD.percent_change_24h > 0">+</span>{{ coin.data.quotes.USD.percent_change_24h }}% </td>
                                <td v-bind:style="getColor(coin.data.quotes.USD.percent_change_7d)"> <span v-if="coin.data.quotes.USD.percent_change_7d > 0">+</span>{{ coin.data.quotes.USD.percent_change_7d }}% </td>
                                <td>{{ coin.data.quotes.USD.market_cap | currency }}</td>
                            </tr>
                        </tbody>
                    </table>
                </b-tab>




                <b-tab title="my coin value" :disabled="second_tab">

                    <table class="table table-hover">

                        <thead>
                            <td>Name</td>
                            <td>Amount</td>
                            <td>sat</td>
                            <td>$</td>
                            <td>1H</td>
                            <td>1D</td>
                            <td>1W</td>
                            <td>Market Cap (USD)</td>
                        </thead>

                        <thead id="summa">
                            <td></td>
                            <td>
                                <div class="text-center">
                                    <b-button id="singlebutton" name="singlebutton" class="btn btn-default" size="sm" v-on:click="setAmount">Save</b-button>
                                </div>
                            </td>
                            <td>{{ sum_sat }} </td>
                            <td>{{ sum_dolar | currency }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </thead>
                        <tbody>
                            <tr v-cloak v-for="coin in portfolio">

                                <td><img v-bind:src="getCoinImage(coin.symbol)"> {{ coin.data.name }}</td>
                                <td>
                                    <b-col sm="9">
                                        <b-form-input size="sm" v-on:input="setAmount" v-model="coin.amount" type="number" placeholder="amount"></b-form-input>
                                    </b-col>
                                </td>

                                <td>{{ coin.data.quotes.BTC.price * coin.amount }}</td>
                                <td>{{ coin.data.quotes.USD.price * coin.amount | currency }}</td>
                                <td v-bind:style="getColor(coin.data.quotes.USD.percent_change_1h)"> <span v-if="coin.data.quotes.USD.percent_change_1h > 0">+</span>{{ coin.data.quotes.USD.percent_change_1h }}% </td>
                                <td v-bind:style="getColor(coin.data.quotes.USD.percent_change_24h)"> <span v-if="coin.data.quotes.USD.percent_change_24h > 0">+</span>{{ coin.data.quotes.USD.percent_change_24h }}% </td>
                                <td v-bind:style="getColor(coin.data.quotes.USD.percent_change_7d)"> <span v-if="coin.data.quotes.USD.percent_change_7d > 0">+</span>{{ coin.data.quotes.USD.percent_change_7d }}% </td>
                                <td>{{ coin.data.quotes.USD.market_cap | currency }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <!--
<b-form-textarea placeholder="Enter something" :rows="1" :max-rows="1">
                                    </b-form-textarea>
-->


                </b-tab>



            </b-tabs>
        </b-container>
    </div>

    <script>
        // Check for the various File API support.
        if (window.File && window.FileReader && window.FileList && window.Blob) {
            console.log("Great success! All the File APIs are supported.")
        } else {
            alert('The File APIs are not fully supported in this browser.');
        }
    </script>
    <script src="/static/js/app.js"></script>

</body>

</html>